Xautolock.corners:  ----
Xautolock.locker:   $HOME/.local/bin/i3lock
Xautolock.time:     1
Xautolock.noclose:  true
Xcursor.size:       16
Xcursor.theme:      Adwaita
Xft.antialias:      1
Xft.autohint:       0
Xft.dpi:            96
Xft.hinting:        1
Xft.hintstyle:      hintslight
Xft.lcdfilter:      lcddefault
Xft.rgba:           rgb
