[Unit]
Description=blueman-applet
Documentation=https://wiki.archlinux.org/title/Blueman

PartOf=polybar-dp0.service
Wants=bspwm.target

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=on-failure
StandardError=journal

[Install]
WantedBy=bspwm.target
