[Unit]
After=graphical-session-pre.target
BindsTo=graphical-session.target
Description=bspwm session
Documentation=man:systemd.special(7)
Wants=graphical-session-pre.target
