[Unit]
Description=lxpolkit, authentication service
Documentation=man:lxpolkit(1)

After=xorg.target
Wants=xorg.target
PartOf=xorg.target

[Service]
ExecStart=/usr/bin/lxpolkit
Restart=on-failure
StandardError=journal

[Install]
WantedBy=xorg.target
