[Unit]
After=xorg-session.target
Description=nitrogen, wallpaper management
Documentation=man:nitrogen(1)
PartOf=xorg-session.target
Requisite=xorg-session.target

[Service]
ExecStart=/usr/bin/nitrogen --restore
StandardError=journal
Type=forking

[Install]
WantedBy=xorg-session.target
