[Unit]
Description=picom, X compositor
Documentation=man:picom(1)

After=xorg.target
Wants=xorg.target
PartOf=xorg.target

[Service]
ExecStart=/usr/bin/picom
Restart=on-failure
StandardError=journal

[Install]
WantedBy=xorg.target
