[Unit]
Description=xsettingsd
Documentation=man:xsettingsd(1)

After=xorg.target
Wants=xorg.target
PartOf=xorg.target

[Service]
ExecStart=/usr/bin/xsettingsd
Restart=on-failure
StandardError=journal

[Install]
WantedBy=xorg.target
